.home{
    object-fit: cover;
    background: url(../../images/homepage.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.home-info{
    position: relative;
    text-align: center;
    margin: 0 18.3vw;
    color: var(--primary-color);
}
.home-info h1{
    font-size:  clamp(1.3em, 1.95vw, 1.7em);
    letter-spacing: 0.5px;
}
.home-info p{
    font-size: clamp(1em, 1.3vw, 1.7em);
}
.home-info .orderbtn{
    background: linear-gradient(45deg, var(--lightredish-color),var(--lightredish-color),var(--primary-color),var(--primary-color));
    background-size: 300%;
    background-position:left;
    padding: 0.63rem 2rem;
    margin-top: 0.63rem;
    font-size: 0.88em;
    transition: 1s;
    font-weight: 600;
}
.home-info .orderbtn:hover{
    background-position:right;
    color: var(--lightredish-color);
}
.home-info .orderbtn:active{
    transform: scale(1.1);
    transition: 0.3s;
}

/* Responsive */

@media(max-width : 1128px){
    .home-info{
        margin: 0 12vw;
    }
}
@media(max-width : 940px){
    .home-info{
        margin: 0 5vw;
    }
}
@media(max-width : 795px){
    .home-info{
        margin: 0 .8vw;
    }
    .home-info .orderbtn{
        padding: .5rem 1.8rem;
    }
}
@media(max-width : 590px){
    .home-info .orderbtn{
        padding: .4rem 1.8rem;
    }
}
